<script>
import { GlLink } from "@gitlab/ui";

export default {
  name: "DocsFooter",
  components: {
    GlLink,
  },
  data() {
    return {
      links: [
        {
          text: "View page source",
          url: "https://gitlab.com/sarahgerman/docs-website-audit",
        },
        {
          text: "Report an issue",
          url: "https://gitlab.com/sarahgerman/docs-website-audit/-/issues",
        },
        {
          text: "How does this work?",
          url: "https://gitlab.com/sarahgerman/docs-website-audit/-/blob/main/README.md",
        },
        {
          text: "About Lighthouse",
          url: "https://developer.chrome.com/docs/lighthouse/overview/",
        },
        {
          text: "Creative Commons License",
          url: "https://creativecommons.org/licenses/by-sa/4.0/",
        },
      ],
    };
  },
};
</script>

<template>
  <footer class="gl-text-center gl-py-4 gl-mt-auto gl-w-full">
    <gl-link
      v-for="link in links"
      :key="link.url"
      :href="link.url"
      class="gl-text-white gl-hover-text-white! gl-mx-3"
      >{{ link.text }}
    </gl-link>
  </footer>
</template>
