<script>
import { GlButton, GlLink } from "@gitlab/ui";

export default {
  name: "DocsNavbar",
  components: {
    GlButton,
    GlLink,
  },
};
</script>

<template>
  <header class="gl-px-5 navbar navbar-dark">
    <gl-link
      class="navbar-brand gl-display-flex gl-align-items-center gl-justify-content-center"
      href="/"
    >
      <img
        alt="GitLab logo"
        class="logo"
        src="../assets/gitlab-logo-header.svg"
      />
      <span class="gl-border-l gl-ml-3 gl-pl-3 gl-font-lg"
        >Docs Website Lighthouse Audit Scores</span
      >
    </gl-link>
    <gl-button
      href="https://docs.gitlab.com"
      class="gl-bg-theme-indigo-500! gl-text-white! gl-shadow-none! gl-display-none gl-md-display-block"
      >Visit the main documentation site
    </gl-button>
  </header>
</template>
