<script>
import { GlLineChart } from "@gitlab/ui/dist/charts";
import { compareVersions } from "compare-versions";
import data from "../../data.json";

export default {
  components: {
    GlLineChart,
  },
  data() {
    return {
      lhData: [],
      chartData: [],
    };
  },
  created() {
    this.lhData = data;

    // @todo this could be a shared constant w/ the node script
    const categories = [
      "performance",
      "accessibility",
      "best-practices",
      "seo",
    ];

    const uniqueVersionSet = new Set();
    this.lhData.forEach((item) => {
      uniqueVersionSet.add(item.version);
    });
    const uniqueVersions = Array.from(uniqueVersionSet).sort(compareVersions);

    categories.forEach((cat) => {
      const catData = [];
      uniqueVersions.forEach((version) => {
        const versionData = this.lhData.filter(
          (item) => item.version === version
        );

        // Calculate the average score of the specified category
        const sum = versionData.reduce(
          (acc, item) => acc + item.categories[cat],
          0
        );
        const average = sum / versionData.length;

        catData.push([version, average * 100]);
      });
      this.chartData.push({
        name: cat.replaceAll("-", " "),
        data: catData,
      });
    });
  },
};
</script>

<template>
  <div>
    <gl-line-chart
      :data="chartData"
      :option="{
        animation: false,
        xAxis: { name: 'GitLab Version', type: 'category' },
        yAxis: { name: 'Score', type: 'value', min: 70, max: 100 },
      }"
    />
  </div>
</template>
