@import '@gitlab/ui/src/scss/gitlab_ui';
@import '@gitlab/ui/src/scss/utilities';

a {
    color: $blue-700;
}
.navbar {
    min-height: 3rem;
    background-color: $purple-900;
}
.navbar span {
    border-color: rgba(255,255,255,.32);
}
h1 {
    font-size: 3rem;
    line-height: 3.25rem;
    font-weight: 700;
    letter-spacing: -.05rem;
    color: $purple-900;
}
p {
    margin: 0 auto;
}
footer {
    background-color: $purple-500;
}


main {
    padding: 0.25rem 0.5rem;
}
.navbar {
  background-color: #2f2a6b;
  color: white;
}
