<script>
import setConfigs from "@gitlab/ui/dist/config";
import Lighthouse from "./components/lighthouse_chart.vue";
import DocsNavbar from "./components/docs_navbar.vue";
import DocsFooter from "./components/docs_footer.vue";

setConfigs();

export default {
  components: {
    DocsNavbar,
    DocsFooter,
    Lighthouse,
  },
};
</script>

<template>
  <div
    id="app"
    class="gl-h-100vh gl-overflow-hidden gl-display-flex gl-flex-direction-column"
  >
    <docs-navbar />
    <main>
      <lighthouse />
    </main>
    <docs-footer />
  </div>
</template>
